{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Handyman APP</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'main/css/blog-home.css' %}" rel="stylesheet">

</head>

<body>
  {% include "main/includes/navigation.html" %}
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Welcome to Handyman Platform
          <div><small>Find the right man for the right work!</small></div>
        </h1>
        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}

        {% block pagination %}
        {% endblock %}

      </div>
{% include "main/includes/sidewidgets.html" %}

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% include "main/includes/footer.html" %}
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'main/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'main/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

</body>

</html>
